.a-expert {
  .a-expert__top {
    text-align: center;

    .container {
      padding: 5.6% 10% 6.5%;
      @media #{$info-phone} {
        padding: 5.6% 15px 6.5%;
      }
    }

    .a-expert__top-01 {
      color: $primary-orange;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.125rem;
      margin-bottom: 3%;
    }

    .a-expert__top-02 {
      font-size: 1.32rem;
    }
  }

  .a-expert__member {
    .container {
      padding: 0 7.5%;
      @media #{$info-phone} {
        padding: 0 15px;
      }
    }

    .a-expert__member__item {
      border: 2px solid #ebebeb;
      padding: 4% 7.5%;
      margin-bottom: 90px;
      @media #{$info-phone} {
        padding: 4% 15px;
      }

      h2 {
        position: relative;
        padding-left: 240px;
        font-size: 1.56rem;
        font-weight: bold;
        margin-bottom: 6%;
        word-break: break-word;
        @media #{$info-phone} {
          padding-left: 120px;
        }

        &:before {
          content: '';
          width: 5px;
          height: 70px;
          position: absolute;
          top: 50%;
          @include css3-prefix(transform, translateY(-50%));
          left: 220px;
          background-color: $primary-green;
          @media #{$info-phone} {
            left: 110px;
            width: 2px;
            height: 100%;
          }
        }

        span {
          display: block;
          font-size: 1.025rem;
          font-weight: normal;
          margin-top: 10px;
        }

        img {
          position: absolute;
          left: 0;
          bottom: -20px;
          @media #{$info-phone} {
            max-width: 100px;
            bottom: 0;
          }
        }
      }

      div {
        p {
          margin-bottom: 4.5%;

          &:last-child {
            margin-bottom: 0;
          }

          b {
            font-weight: bold;
          }
        }
      }
    }
  }

  iframe {
    width: 100%;
  }
}