.benefits {
  .benefits__content {
    p {
      margin-bottom: 3%;
      span {
        color: $primary-orange;
      }
    }
    .benefits__content-01 {
      img {
        margin-top: 2%;
        margin-bottom: 2%;
      }
    }
    .benefits__content-02 {
      background-color: #eeeded;
      padding: 3% 0;
      margin-bottom: 5%;
    }
    .custom-btn {
      margin: 2% 0 5%;
    }
  }
}